<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= libro.titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
</head>
<body>
    <%- include('../partials/nav')%>
    <hr>
    <h1>Title: <%= libro.titulo %> - Author: <%= libro.autor.nombreCompleto %></h1>
    <p>Price: $<%= libro.precio %></p>
    <img src="<%= libro.portada %>" alt="can't load image cover">
</body>
</html>