<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
</head>
<body>
    <%- include('../partials/nav')%>
    <h1><%=titulo%></h1>
    <hr>
    <ul class="list">
        <% libros.forEach(book =>{
            %>
            <li class="list-item">
<!-- hacemos que el link con el que viajen, contenga ID libro  -->
                <a href="book/<%= book.id %>"> 
                    <%= book.titulo %>
                </a> - 
                <a href="#"> 
                    <%= book.autor.nombreCompleto %>
                </a>
            </li>
        <% }) %>

    </ul>
</body>
</html>